    body {
      display: flex;
      flex-direction: column;
    }
    .header {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      background-color: black; /* Sets the background color to black */
      color: white; /* Sets the text color to white */
    }
    .main {
      display: flex;
      width: 100%;
    }
    .menu {
      width: 20%;
      padding: 10px;
      background-color: #f4f4f4;
    }
    .content {
      width: 80%;
      padding: 10px;
    }
    .footer {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
    }
